.main{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}


/* .admin{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
} */

.start{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/public/auth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#admin{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/public/admin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#user{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/public/user.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}